
@media screen {
  .App {
    text-align: center;
  
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  /* Begins search component */
  .SearchDiv{
    display: flex;
    align-items: start;
    border: 2px solid black;
    
    
  }
  .SearchDiv>*{
    margin-right: 30px;
    margin-top: 15px;
    margin-left: 12px;
    font-size: 30px;
  }
  .divRow{
    display: flex;
    align-items: left;
  }
  .divRow>*{
    margin-right: 100px;
  }
  .divRow button{
    font: inherit;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
 
    background-color: rgb(201, 199, 199);
  }
  .SearchDiv input{
    width: 650px;
    height: 35px;
    font-size: 30px;
    border: 1px solid black;
  }
  .SearchDiv .select{
    height: 40px;
    width: 400px;
    font: inherit;
    border: 1px solid black;
    border-radius: 0px;
  }
  
  .divColumn{
    display:flex;
    flex-direction: column;
    align-items: start;
  }
  .divColumn>*{
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .labels{
    align-items: end;
  }
  
  .newProduct{
    display: flex;
  }
  .Bod{
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  /* End of Search component */

  .newProduct{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(201, 199, 199);
  }
}
/* new products button */


.productsTable{
  border: 1px solid black;
  font-style: normal;
  width: 100%;

}
.productsTable>*{
  border: 1px solid black;

}

/* Products table is up this */

.totalPrices{
  width: 100%;
  border: 2px solid black ;
}


/* Action buttons */
.actionButtons{
  display: flex;
  align-items: center;
  width: 100%;

}

.modifyButton{
  width: 150px;
}

.deleteButton{
  width: 150px;
}


/* Action buttons */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p{
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
